  *{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: outline;
}
.Wholediv{
    width: 100%;
    min-height: 100vh;
            background: linear-gradient(
            to bottom,
            #020617,
            #0F172A,
            #155E75
            );
            /* background-image: url("./bcimg.jpg");
            background-size: 400px;
            background-repeat: no; */
}
.navdiv{
    width: 100%;
}
.navdiv .nav-link{
    margin-right: 20px;
}
/* resposive navbar-toggler color  */
 .navbar-toggler{
    border-color: white;
}
.navbar-toggler-icon{
    filter: brightness(0) invert(1);
}
.skill-div{
     width: 100%;
    min-height: 400px;
    /* background-color: magenta; */
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.skill-div .img-div{
    width: 600px;
    height: 420px;
    /* background-color: green; */
}

.skill-div .text-skills{
    width: 1200px;
    min-height: 200px;
    /* background-color: lawngreen; */
    text-align: center;
}
.skill-div p{
    font-size: 18px;
}
.skill-div button{
    width: 200px;
    height: 40px;
    border-radius: 10px;
    font-size: 18px;
    border: none;
    margin-left: 180px;
    margin-right: 180px;
    cursor: pointer;
    background-color: grey;
    transition: all 1s;
    color: white;
    align-self: flex-end;
    margin-top: 30px;
}
.skill-div button:hover{
        background: linear-gradient(45deg, #00CFFF, #0066FF);
    color: grey;
    border: 2px solid white;
    inset: -5px;
    transform: scale(1.08);
    box-shadow: 0 8px 25px white;
    font-weight: bold;
    
}
.tech-name{
   width: 1200px;
    min-height: 240px;
    /* background-color: palevioletred; */
    display: flex;
    /* background-image: url("./klmno.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
}
/* .tech-name video{
    width: 100%;
    height: 240px;
} */
.goinginsideLine{
    width: 70px;
    height: 240px;
    /* background-color: lime; */
}
.row1{
    width: 47%;
    min-height: 240px;
    /* background-color: maroon; */
    /* border-radius: 0 150px 150px 0; */
    border-radius: 150px;
    display: flex;
    gap: 30px;
    contain: paint;
    justify-content: center;
    align-items: center;
     animation: row1move 4s linear infinite;
}
.row2{
    width: 47%;
    min-height: 240px;
    /* background-color: yellow; */
    /* border-radius: 150px 0 0 150px; */
    border-radius: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    /* overflow: hidden; */
    contain: paint;
     animation: row2move 4s linear infinite;
}
.htmldiv{
     width: 140px;
    height: 140px;
    flex-shrink:0;
    background-color: black;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name:slide;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes slide {
    0%{
        transform: translateX(-1300px);
    }
    100%{
        transform: translateX(1300px);
    }
}
.htmldiv .language{
    width: 140px;
    height: 140px;
    background-color: black;
    border-radius: 40px;

}

 .javadiv{
    width: 140px;
    height: 140px;
    flex-shrink:0;
    /* background-color: green; */
    border-radius: 40px;
    animation-name:movee;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
 }
@keyframes movee {
    0%{
        transform: translateX(1300px);
    }
    100%{
        transform: translateX(-1300px);
    }
  
    
}

.boot{
    width: 140px;
    height: 140px;
    border-radius: 30px;
}
.javalang{
    width: 140px;
    height: 140px;
    border-radius: 40px;
}


@media screen and (max-width:600px) {

    .text-skills{
        width:100% !important;
        padding:10px;
    }

    .text-skills h1{
        font-size:28px;
    }

    .text-skills p{
        font-size:16px;
        line-height:28px;
    }

    .skill-div button{
        width:160px;
        height:40px;
        margin:10px;
        font-size:14px;
    }

    .tech-name{
        width:100%;
        height: auto;
        min-height: 240px;
        flex-direction:column;
        align-items:center;
        gap:20px;
    }

    .goinginsideLine{
        display:none;
    }

    .row1{
        width:100%;
        height:auto;
        min-height:220px;
        flex-wrap:wrap;
        justify-content: center;
        align-items: center;
        gap: 20px;
        animation:none;
        /* border-radius:20px; */
        border-radius: 0px;
        padding:20px 20px 0px 20px;

    }

.row2{
        width:100%;
        height:auto;
        min-height:220px;
        flex-wrap:wrap;
        justify-content: center;
        align-items: center;
        gap: 20px;
        animation:none;  
        /* border-radius:20px; */
        border-radius: 0px;
        padding:0px 20px 10px 20px;
    }
    .htmldiv,
    .javadiv,.boot,.javalang{
        /* margin-top: 40px; */
        width:140px;
        height:140px;
        /* animation:none; */
        opacity: 0;
        animation-name: fading;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
        animation-duration: 6s;
        animation-timeline: view();
         animation-range: entry 100px cover 40%;
         transition: all 2s ease;
    }
@keyframes fading {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
    
}
    .responsivesite{
        display: none;
    }

}


@media screen and (min-width:600px) and (max-width:1000px) {

    .text-skills{
        width:100% !important;
        padding:10px;
    }

    .text-skills h1{
        font-size:28px;
    }

    .text-skills p{
        font-size:16px;
        line-height:28px;
    }

    .skill-div button{
        width:160px;
        height:40px;
        margin:10px;
        font-size:14px;
    }

    .tech-name{
        width:100%;
        height: auto;
        min-height: 240px;
        flex-direction:column;
        align-items:center;
        gap:20px;
    }

    .goinginsideLine{
        display:none;
    }

    .row1{
        width:100%;
        height:auto;
        min-height:220px;
        flex-wrap:wrap;
        justify-content: center;
        align-items: center;
        gap: 20px;
        animation:none;
        /* border-radius:20px; */
        border-radius: 0px;
        padding:20px 20px 0px 20px;
    }

.row2{
        width:100%;
        height:auto;
        min-height:220px;
        flex-wrap:wrap;
        justify-content: center;
        align-items: center;
        gap: 20px;
        animation:none;
        /* border-radius:20px; */
        border-radius: 0px;
        padding:0px 20px 10px 20px;
    }
     .htmldiv,
    .javadiv,.boot,.javalang{
        /* margin-top: 40px; */
        width:140px;
        height:140px;
        /* animation:none; */
        opacity: 0;
        animation-name: fading;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
        animation-duration: 6s;
        animation-timeline: view();
         animation-range: entry 100px cover 40%;
         transition: all 2s ease;
    }
@keyframes fading {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
    
}
    .responsivesite{
        display: none;
    }

}








